name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    env:
      DOCKER_HUB_IMAGE_NAME: 'ssl-certificate'
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - id: extract-tag
        run: echo "DOCKER_TAG=test" >> $GITHUB_ENV
      - uses: docker/bake-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          target: app-release
      - uses: actions/checkout@v6
      - run: docker compose run --rm ansible-runner
